{% extends "todo/base.html" %}
{% load url from future %}

{% block title %}List areas{% endblock %}
{% block header %}<h1>Areas <small></small></h1>{% endblock %}
{% block content %}
            <div id="area-list">
                {% for area in taskarea_list %}
                {% if area.tasks.exists %}
                <article>
                <i class="{% if area.has_task %}icon-circle{% else %}icon-circle-blank{% endif %}"></i> <a class="url-folder" data-foldee="#fold-target-{{ area.slug }}" href="{% url 'todo:show_area' slug=area.slug %}" id="show-{{ area.slug }}">{{ area.name }}</a>
                <div class="drop-in" id="fold-target-{{ area.slug }}"></div>
                </article>
                {% endif %}
                {% empty %}<h1>Nothing to do here!</h1>{% endfor %}
                {% include "pagination.html" %}
            </div>
{% endblock %}
